{% extends "base.html" %}
{% load static %}
    
{% block content %}
<section class="page-section">
    <div class="page-container">
        <h1 class="page-header">OM</h1>
        <div class="about-container">
            <div class="row">
                <div class="col-6">
                    <p>Bor tillsammans med Fru Johanna och son Otto i Laröd i Helsingborg</p>

                </div>
                <div class="col-6">
                    <div class="about-img-container">
                        <img class="flum-img" src="{% static 'images/flum.jpg' %}" alt="Familjen på Lisseberg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}