{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="page-section">
    <div class="page-container">
        <div class="outline">
            <h1 class="page-header">Kontakt</h1>

            <div class="contact-container">
                <div class="card-body">

                    <div class="row">

                        <!-- VÄNSTER KOLUMN -->
                        <div class="col-6">
                            <div class="text-start">

                                <div class="contact-text">
                                    <div class="label">Namn:</div>
                                    <p class="text">Glenn Johansson</p>
                                </div>

                                <div class="contact-text">
                                    <div class="label">Telefon:</div>
                                    <p class="text">0760 - 47 54 14</p>
                                </div>

                                <div class="contact-text">
                                    <div class="label">Adress</div>
                                    <p class="text">Seldonsvägen 15</p>
                                </div>

                                <div class="contact-text">
                                    <div class="label">Post nummer:</div>
                                    <p class="text">254 83 Helsingborg</p>
                                </div>

                            </div>
                        </div>

                        <!-- HÖGER KOLUMN -->
                        <div class="col-md-6">
                            <div class="text-start">

                                <div class="contact-text">
                                    <div class="label">Mejl:</div>
                                    <a class="link" href="mailto:g.j@live.se">g.j@live.se</a>
                                </div>

                                <div class="contact-text">
                                    <div class="label">Linkedin:</div>
                                    <a class="link" href="https://www.linkedin.com/in/glenn-johansson85" target="_blank" rel="noopener noreferrer">
                                        linkedin.com/in/glenn-johansson85
                                    </a>
                                </div>

                                <div class="contact-text">
                                    <div class="label">Github:</div>
                                    <a class="link" href="https://github.com/GlennJohansson85" target="_blank" rel="noopener noreferrer">
                                        github.com/GlennJohansson85
                                    </a>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>
</section>

{% endblock %}