{% extends "base.html" %}
{% load static %}

{% block title %} Glenns CV {% endblock %}

{% block content %}
<section class="cv-1-section">
    
    <!-- VIDEO -->
    <video class="cv-1-video" autoplay muted loop playsinline>
        <source src="{% static 'video/smoke32-ver.mp4' %}" type="video/mp4">
    </video>

    <div class="cv-1-container">
        <h1 class="cv-1-header">Portfolio</h1>
        <div class="cv-1-grid">
            <div class="cv-1-col">

            </div>

            <div class="cv-1-col">

            </div>

        </div>
    </div>


    
    </div>

<section>

{% endblock %}
