{% extends "base.html" %}
{% load static %}

{% block title %} Erfarenhet {% endblock %}

{% block content %}
<section class="page-section">
    <div class="page-container">
        <h1 class="page-header">Erfarenhet</h1>

        <!-- Fullstack utvecklare -->
        <div class="exp-container">
            <div class="row">
                <div class="col-4 exp-year">2024 -</div>

                <div class="col-8 exp-details">
                    <div class="exp-title">Fullstackutvecklare</div>

                    <div class="row gx-1 align-items-center">
                        <div class="col-12 col-md-4">
                            <h5 class="exp-company">Technet AB</h5>
                        </div>

                        <div class="col-12 col-md-8">
                            <h5 class="exp-project"></h5>
                        </div>
                    </div>

                    <p class="exp-text">Utvecklar och säljer applikationer till företag.</p>
                </div>
            </div>
        </div>

        <!-- Verksamhetsutvecklare -->
        <div class="exp-container">
            <div class="row">
                <div class="col-4 exp-year">2020 - 2022</div>

                <div class="col-8 exp-details">
                    <div class="exp-title">Verksamhetsutvecklare</div>

                    <div class="row gx-1 align-items-center">
                        <div class="col-12 col-md-4">
                            <h5 class="exp-company">Assemblin</h5>
                        </div>

                        <div class="col-12 col-md-8">
                            <h5 class="exp-project">"Nya Sjukhuset i Södertälje"</h5>
                        </div>
                    </div>

                    <p class="exp-text">
                        Inhyrd som konsult, hjälpte projektorganisationen att digitalisera
                        sina kontrollprogram, egenkontroller, avvikelsehantering m.m.
                    </p>
                </div>
            </div>
        </div>

        <!-- Kvalitetssamordnare -->
        <div class="exp-container">
            <div class="row">
                <div class="col-4 exp-year">2018 - 2020</div>

                <div class="col-8 exp-details">
                    <div class="exp-title">Kvalitetssamordnare</div>

                    <div class="row gx-1 align-items-center">
                        <div class="col-12 col-md-4">
                            <h5 class="exp-company">Skanska Hus</h5>
                        </div>

                        <div class="col-12 col-md-8">
                            <h5 class="exp-project">"Nya Sjukhuset i Malmö"</h5>
                        </div>
                    </div>

                    <div class="exp-text">
                        <p>
                            Granskade KMA-dokumentation för att säkerställa efterlevnad av projektkrav samt följde upp arbetet genom avstämningsmöten/revisioner.
                        </p>
                        <p>
                            Digitaliserade projektorganisationerna för samstyrning i projektet. Allt som tidigare utfördes med papper & penna ersattes med iPads & appar. 
                            Utfört arbete skulle dokumenteras, markeras, fotografeas och signeras. Tillsammans med PL/AL från resp. entreprenad utvecklade vi digitala checklistor för samtliga arbetsmoment. 
                            Då alla skulle arbeta i samma app, som inte var utvecklad för alla typer av arbeten, krävdes det att man var kreativ för att få det till att fungera.
                        </p>
                        <p>
                            Utöver kontrollprogram & egenkontroller utvecklade jag projektets avikelsehanteringen samt hjälpte kunden att digitalisera besiktningsprocessen för byggnaden.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- KMA-samordnare -->
        <div class="exp-container">
            <div class="row">
                <div class="col-4 exp-year">2015 - 2018</div>

                <div class="col-8 exp-details">
                    <div class="exp-title">KMA-samordnare</div>

                    <div class="row gx-1 align-items-center">
                        <div class="col-12 col-md-4">
                            <h5 class="exp-company">Skanska Installation</h5>
                        </div>

                        <div class="col-12 col-md-8">
                            <h5 class="exp-project">"European Spallation Source"</h5>
                        </div>
                    </div>

                    <p class="exp-text">
                        Ingick i projektledningen (GE).
                        Upprättade/implementerade digitala verktyg &
                        arbetsprocesser för kvalitetssäkring.
                        Granskade UE, höll utbildning och
                        revisioner.
                    </p>
                </div>
            </div>
        </div>

        <!-- Rekryterare -->
        <div class="exp-container">
            <div class="row">
                <div class="col-4 exp-year">2012 - 2015</div>

                <div class="col-8 exp-details">
                    <div class="exp-title">Rekryterare</div>

                    <div class="row gx-1 align-items-center">
                        <div class="col-12 col-md-4">
                            <h5 class="exp-company">Mediate Nordic</h5>
                        </div>

                        <div class="col-12 col-md-8">
                            <h5 class="exp-project"></h5>
                        </div>
                    </div>

                    <p class="exp-text">Rekryterade läkare från regionen till privatvården.</p>
                </div>
            </div>
        </div>

        <!-- Säkerhetschef -->
        <div class="exp-container">
            <div class="row">
                <div class="col-4 exp-year">2008 - 2010</div>

                <div class="col-8 exp-details">
                    <div class="exp-title">Säkerhetschef</div>

                    <div class="row gx-1 align-items-center">
                        <div class="col-12 col-md-4">
                            <h5 class="exp-company">Lindner AG</h5>
                        </div>

                        <div class="col-12 col-md-8">
                            <h5 class="exp-project">"DR2-Koncerthuset" & "Allerhuset"</h5>
                        </div>
                    </div>

                    <p class="exp-text">
                        Arbetsmiljöansvar för 200 yrkesarbetare
                        fördelade på två större byggprojekt;
                        konserthus och ett 12 våningskontorshus
                    </p>
                </div>
            </div>
        </div>

    </div>
</section>
{% endblock %}