    font-family: 'Jost-100-Hairline';
    font-family: 'Jost-100-Hairline-Italic';
    font-family: 'Jost-200-Thin';
    font-family: 'Jost-200-Thin-Italic';
    font-family: 'Jost-300-Light';
    font-family: 'Jost-300-Light-Italic';
    font-family: 'Jost-400-Book';
    font-family: 'Jost-400-Book-Italic';
    font-family: 'Jost-500-Medium';
    font-family: 'Jost-500-Medium-Italic';
    font-family: 'Jost-600-Semi';
    font-family: 'Jost-600-Semi-Italic';
    font-family: 'Jost-700-Bold';
    font-family: 'Jost-700-Bold-Italic';
    font-family: 'Jost-800-Heavy';
    font-family: 'Jost-800-Heavy-Italic';
    font-family: "Jost-900-Black";
    font-family: "Jost-900-Black-Italic";

    font-family: "Octin-Vintage-B-Rg"; 
    font-family: "Octin-Vintage-Free"; 
    font-family: "Octin-Vintage-B-Rg-Bold";
    font-family: "Octin-Vintage-B-Bl";
    font-family: "Octin-Vintage-A-Rg";
    font-family: "Octin-Vintage-A-Rg-Bold";
    font-family: "Octin-Vintage-A-Bl"; 

    font-family: "Vintage-Culture";

    font-family: "NeutralGrotesk-Regular";
    font-family: "NeutralGrotesk-Bold";

    font-family: "NeutrafaceCondensed-Thin";
    font-family: "NeutrafaceCondensed-Light";
    font-family: "NeutrafaceCondensed-Medium";
    font-family: "NeutrafaceCondensed-Bold";
    font-family: "NeutrafaceCondensed-Titling";

    font-family: "NeutrafaceCondensed-ThinAlt";
    font-family: "NeutrafaceCondensed-LightAlt";
    font-family: "NeutrafaceCondensed-MediumAlt";
    font-family: "NeutrafaceCondensed-BoldAlt";

    font-family: "NeutrafaceCondensedPS-Thin";
    font-family: "NeutrafaceCondensedPS-Light";
    font-family: "NeutrafaceCondensedPS-Medium";
    font-family: "NeutrafaceCondensedPS-Bold";
    font-family: "NeutrafaceCondensedPS-ThinAlt";
    font-family: "NeutrafaceCondensedPS-LightAlt";
    font-family: "NeutrafaceCondensedPS-MediumAlt";
    font-family: "NeutrafaceCondensedPS-BoldAlt";
    font-family: "NeutrafaceCondensedPS-Titling";